{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block pageTitle %}Home{% endblock %}

{% block content %}

      <div class="row">
        <div class="input-field col s12">
          <a href="{{ url_for('unlock') }}" class="btn-large waves-effect waves-light col s6 offset-s3">
            <i class="material-icons left">lock_open</i>Unlock Door
          </a>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <a href="{{ url_for('settings') }}" class="btn-large waves-effect waves-light col s6 offset-s3">
            <i class="material-icons left">settings</i>Settings
          </a>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <a href="{{ url_for('logs') }}" class="btn-large waves-effect waves-light col s6 offset-s3">
            <i class="material-icons left">list</i>View Logs
          </a>
        </div>
      </div>

{% endblock %}
