{% extends "base.html" %}
{% block title %}Log in{% endblock %}

{% block pageTitle %}Login{% endblock %}

{% block content %}
<!-- <div class="row"> -->
  <!-- <div class="col s12" style="border: 1px solid yellow"><span class="flow-text">This div is 12-columns wide on all screen sizes</span></div> -->
  <!-- <div class="col s6 offset-s3"><h1 class="center-align">Login</h1></div>
</div> -->

<div class="row">

  <form class="col s12" method="post" action="">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">account_circle</i>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">lock</i>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 offset-s3">
         {{ form.submit() }} 
{{ form.submit(class="btn-large waves-effect waves-light col s6 offset-s3") }}
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </form>

</div>
{% endblock %}
